body {
  font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20mm;
}
h2 {
  margin-bottom: -2mm;
}
h3 {
  margin-bottom: 2mm;
}
#weight_tag {
  font-weight: bold;
}
#height_tag {
  font-weight: bold;
}
#selected_weight_unit {
  font-weight: bold;
  display: inline;
  font-size: 1.20rem;
  padding: 0.75rem;
}
#selected_height_unit {
  font-weight: bold;
  display: inline;
  font-size: 1.20rem;
  padding: 0.75rem;
}
.input,
.input:focus {
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(221, 224, 235);
  border-radius: 5px;
  width: 50mm;
}
.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btns {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(158, 199, 224);
  border: none;
  outline: none;
  border-radius: 10px;
  text-transform: lowercase;
  font-style: italic;
  box-shadow: 0 9px #999;
}
.btns:hover {
  background-color: rgb(73, 170, 230);
}
.btns:active {
  background-color: rgb(73, 170, 230);
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
.underweight {
  color: blue;
}
.healthy {
  color: green;
}
.overweight {
  color: yellow;
  background-color: gray;
}
.obese {
  color: orange;
  background-color: gray;
}
.extremely-obese {
  color: red;
}
#img,
#banner {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}
